

<div class="piec" style="background: url('./assets/piec.jpg') no-repeat left">

  <h6>Data pomiaru:  <span class="badge bg-secondary">{{ datetime }}</span></h6>

  <span class="circle temp-co-out" [routerLink]="['/details', tempCoOut?.address ]">{{ tempCoOut?.tempC }} ℃
    <i class="bi bi-arrow-up-short" *ngIf="tempCoOut?.tempC > _tempCoOut"></i>
    <i class="bi bi-arrow-right-short" *ngIf="tempCoOut?.tempC == _tempCoOut"></i>
    <i class="bi bi-arrow-down-short" *ngIf="tempCoOut?.tempC < _tempCoOut"></i>
  </span>
  <span class="circle temp-co-in" [routerLink]="['/details', tempCoIn?.address ]">{{ tempCoIn?.tempC }} ℃
    <i class="bi bi-arrow-up-short" *ngIf="tempCoIn?.tempC > _tempCoIn"></i>
    <i class="bi bi-arrow-right-short" *ngIf="tempCoIn?.tempC == _tempCoIn"></i>
    <i class="bi bi-arrow-down-short" *ngIf="tempCoIn?.tempC < _tempCoIn"></i>
  </span>
  <span class="circle temp-cwu-out" [routerLink]="['/details', tempCwuOut?.address ]">{{ tempCwuOut?.tempC }} ℃
    <i class="bi bi-arrow-up-short" *ngIf="tempCwuOut?.tempC > _tempCwuOut"></i>
    <i class="bi bi-arrow-right-short" *ngIf="tempCwuOut?.tempC == _tempCwuOut"></i>
    <i class="bi bi-arrow-down-short" *ngIf="tempCwuOut?.tempC < _tempCwuOut"></i>
  </span>

  <span class="circle temp-out" style="background: #0c4128; border-color: #0c4128" [routerLink]="['/details', tempOut?.address ]">{{ tempOut?.tempC }} ℃
    <i class="bi bi-arrow-up-short" *ngIf="tempOut?.tempC > _tempOut"></i>
    <i class="bi bi-arrow-right-short" *ngIf="tempOut?.tempC == _tempOut"></i>
    <i class="bi bi-arrow-down-short" *ngIf="tempOut?.tempC < _tempOut"></i>
  </span>
</div>
