.piec {
  height: 340px;
  background-repeat: no-repeat;
  margin-top: 130px;
  margin-left: 30px;
}

.circle{
  padding: 2px 5px 2px 5px;
  border: 1px solid crimson;
  background: crimson;

  border-radius: 20px;
  font-size: 13px;
  font-weight: 600 ;
  color: white;
  min-width: 80px;
  text-align: center;

  cursor: pointer;
}

.temp-co-out {
  float: left;
  margin-left: 25px;
  margin-top: 20px;
}

.temp-co-in {
  float: left;
  margin-left: 30px;
  margin-top: 240px;
}

.temp-cwu-out {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.temp-out {
  float: left;
  display: block;
  margin-left: -320px;
  margin-top: -40px;
}

h6{
  display: block;
  position: absolute;
  margin-left: 3px;
  margin-top: -80px;
}
