<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="font-weight: 600 ">
      <img src="assets/logo.png" width="30" height="30"> Sensors Monitor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" (click)="toggle = !toggle" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <i class="bi bi-list" *ngIf="!toggle"></i>
      <i class="bi bi-x-lg" *ngIf="toggle"></i>
    </button>
    <div [ngClass]="toggle?'navbar-collapse toggle':'navbar-collapse collapse'">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" (click)="toggle = !toggle">
            <i class="bi bi-speedometer2"></i> Pulpit
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

